<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter" />
  </configSections>
  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <add name="produkte_detail" virtualUrl="^~/produkte/(.*?)/(.*?)/([0-9_]+)/view((/)?)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products/detail/default.aspx?groupTitle=$1&amp;title=$2&amp;id=$3" ignoreCase="true" processing="stop" />
      <add name="produkte_gender_filter_category" virtualUrl="^~/produkte/\b(herren|damen)\b/(.*?)/view((/)?)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products/default.aspx?gender=$1&amp;category-filters=$2" ignoreCase="true" processing="stop" />
      <add name="produkte_gender" virtualUrl="^~/produkte/\b(herren|damen)\b/view((/)?)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products/default.aspx?gender=$1" ignoreCase="true" processing="stop" />
      <add name="produkte_all" virtualUrl="^~/produkte/view((/)?)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/products/default.aspx" ignoreCase="true" processing="stop" />

      <add name="CMS" virtualUrl="^~/(.*?)/view((/)?)$" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/cmspage/default.aspx?url=$1" ignoreCase="true" processing="stop" />
    </rewrites>
  </urlrewritingnet>
  <location path="CaptchaImage.axd" />
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <httpRuntime maxRequestLength="5000000" executionTimeout="3600" enable="true" />
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="HttpPostLocalhost" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <sessionState mode="InProc" timeout="10">
    </sessionState>
    <machineKey validationKey="27C1B00C94C49650EDB6379EA7F3E86632E8360C9C8B8FDD235548DD0DD112A0CCDEEB00813F1860530F072F8356C55381668F06FAC1351ACECC2F5312D61911" decryptionKey="3BB75FDEE5F7D04D2708AB85068E6D48F6DD8416FF853C74470FEF1938F0B664" validation="SHA1" decryption="AES" />
    <!-- 
          Set compilation debug="true" to insert debugging 
          symbols into the compiled page. Because this 
          affects performance, set this value to true only 
          during development.
      -->
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />

      </assemblies>

    </compilation>

    <customErrors mode="Off" defaultRedirect="~/error/">
      <error statusCode="403" redirect="~/error/403" />
      <error statusCode="404" redirect="~/error/404" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">

    </pages>
    <membership userIsOnlineTimeWindow="5" hashAlgorithmType="SHA1">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" passwordFormat="Hashed" connectionStringName="CSConnectionString" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="ApplicationAAD_NewYorker" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CSConnectionString" applicationName="ApplicationAAD_NewYorker" />
      </providers>
    </profile>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>

    <caching>
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".webp" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" preCondition="managedHandler" />
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="login/default.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
    <staticContent>
      <remove fileExtension=".webp" />
      <remove fileExtension=".webm" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
</configuration>